---
layout: base.liquid
---

<h1><span>MKVC</span> Filipo Guerra website mods</h1>

<table>
    <thead>
        <td>Feature</td>
        <td>Status</td>
        <td>Preview</td>
    </thead>
    <tbody>
        {% for f in features %}
        <tr>
            <td>{{ f.title }}</td>
            <td class="status-{{ f.status `}}">{{ f.status }}</td>
            <td>
                {% if f.route != ""%}
                <a href="{{ f.route }}">/{{ f.route }}</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>