<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filipo Guerra website modifications</title>
    <script src="./main.js" async defer></script>

    <style>
        * {
            margin: 0;
            padding: 0;
            font-family: sans-serif;
            font-size: 1rem;
        }

        h1 {
            margin-bottom: .5em;
        }

        ul {
            margin-left: 1em;
        }

        body {
            padding: Max(3%, 1rem);
        }
    </style>

</head>

<body>
    {{content}}
</body>

</html>