<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.title }}</title>

    <style>
        * {
            margin: 0;
            padding: 0;
            font-family: inherit;
            font-size: inherit;
            box-sizing: border-box;
        }

        h1 {
            font-family: monospace;
            margin-bottom: .5em;
            padding-bottom: .2em;
            margin-bottom: 1em;
        }

        h1 span {
            font-weight: normal;
        }

        ul {
            margin-left: 1em;
        }

        body {
            padding: Max(3%, 1rem);
            background: rgb(240, 240, 240);
            line-height: 1.4;
            font-family: sans-serif;
        }

        a {
            color: rgb(45, 99, 180);
            text-decoration: none;
        }

        a:hover,
        a:focus {
            text-decoration: underline;
        }

        table {
            border: 1px solid lightgray;
            border-collapse: collapse;
        }

        thead td {
            font-weight: bold;
            border: 1px solid black;
        }

        thead td:last-child {
            border-right: 1px solid black;

        }

        td {
            border-bottom: 1px solid lightgray;
            border-right: 1px solid lightgray;
            padding: .1em .3em;
            padding-right: 1em;
        }

        td:last-child {
            padding-right: .3em;
            border-right: 0;

        }

        .status-pending {
            color: rgb(165, 162, 155);
        }

        .status-in-progress {
            color: rgb(155, 108, 7);
        }

        .status-to-review {
            color: rgb(167, 66, 214);
        }

        .placeholder {
            font-size: 1.4rem;
            color: gray;
            max-width: 50ch;
            margin: .5em auto
        }

        footer {
            margin-top: 2em;
            font-size: 1.4rem;
        }

        .site-password {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            text-align: center;
            margin: auto;
            height: 0;
            width: 340px;
            display: table;
        }

        .site-password input {
            border: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            padding: 0 1em;
            background: none;
        }

        input:focus {
            outline: 0;
        }

        .submit-wrapper {
            border: 1px solid black;
            border-radius: 100px;
            overflow: hidden;
            height: 2.5rem;
            position: relative;
        }

        .button-area {
            position: absolute;
            border-radius: 100px;
            background: black;
            width: 2rem;
            height: 2rem;
            right: .5rem;
            top: 50%;
            transform: translateY(-50%);
        }

        .button-area button {
            display: none;
        }
    </style>

</head>

<body>
    {{content}}
    {% if not meta %}
    <script src="/main.js" defer></script>
    {% endif %}
</body>

</html>