<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filipo Guerra website modifications</title>
    <script src="/main.js" async defer></script>

    <style>
        * {
            margin: 0;
            padding: 0;
            font-family: inherit;
            font-size: inherit;
        }

        h1 {
            font-family: monospace;
            margin-bottom: .5em;
            border-bottom: 1px solid gray;
            padding-bottom: .2em;
            margin-bottom: 1em;
            ;
        }

        h1 span {
            font-weight: normal;
        }

        ul {
            margin-left: 1em;
        }

        body {
            padding: Max(3%, 1rem);
            background: rgb(240, 240, 240);
            line-height: 1.4;
            font-family: sans-serif;
        }

        a {
            color: rgb(45, 99, 180);
            text-decoration: none;
        }

        a:hover,
        a:focus {
            text-decoration: underline;
        }

        table {
            border: 1px solid lightgray;
            border-collapse: collapse;
        }

        thead td {
            font-weight: bold;
            border: 1px solid gray;
        }

        thead td:last-child {
            border-right: 1px solid gray;

        }

        td {
            border-bottom: 1px solid lightgray;
            border-right: 1px solid lightgray;
            padding: .1em .3em;
            padding-right: 1em;
        }

        td:last-child {
            padding-right: .3em;
            border-right: 0;

        }

        .status-pending {
            color: rgb(155, 120, 25);
        }

        .placeholder {
            font-size: 1.4rem;
            color: gray;
            max-width: 50ch;
            margin: .5em auto
        }

        footer {
            margin-top: 2em;
            font-size: 1.4rem;
        }
    </style>

</head>

<body>
    {{content}}
</body>

</html>