<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.title }}</title>

    <style>
        @font-face {
            font-family: Forma;
            src: url("/assets/FormaDJRMicro-Regular.woff2");
        }

        * {
            margin: 0;
            padding: 0;
            font-family: inherit;
            font-size: inherit;
            box-sizing: border-box;
        }

        header {
            position: relative;
            z-index: 10000;
        }

        header a {
            color: inherit
        }

        header a:hover {
            text-decoration: none;
        }

        h1 {
            font-family: monospace;
            margin-bottom: .5em;
            padding-bottom: .2em;
            margin-bottom: 1em;
            text-transform: uppercase;
            font-weight: normal;
            letter-spacing: .02em;
        }

        h1 span {
            font-weight: normal;
        }

        ul {
            margin-left: 1em;
        }

        body {
            padding: Max(1%, 1rem);
            background: rgb(240, 240, 240);
            line-height: 1.4;
            font-family: Forma, sans-serif;
            height: 100%;
            overflow-y: scroll;
        }

        a {
            color: rgb(45, 99, 180);
            text-decoration: none;
        }

        a:hover,
        a:focus {
            text-decoration: underline;
        }

        table {
            border: 1px solid lightgray;
            border-collapse: collapse;
        }

        thead td {
            font-weight: bold;
            border: 1px solid black;
        }

        thead td:last-child {
            border-right: 1px solid black;

        }

        td {
            border-bottom: 1px solid lightgray;
            border-right: 1px solid lightgray;
            padding: .1em .3em;
            padding-right: 1em;
        }

        td:last-child {
            padding-right: .3em;
            border-right: 0;

        }

        .status-pending {
            color: rgb(165, 162, 155);
        }

        .status-in-progress {
            color: rgb(155, 108, 7);
        }

        .status-to-review {
            color: rgb(167, 66, 214);
        }

        .placeholder {
            font-size: 1.4rem;
            color: gray;
            max-width: 50ch;
            margin: .5em auto
        }

        footer {
            margin-top: 2em;
            font-size: 1.4rem;
        }



        .landing {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -1;

        }
    </style>

</head>

<body>
    <header>
        <a href="/">
            <h1><span>MKVC / </span> {{ site.title }}{% if title %} / {{ title }}{% endif%}</h1>
        </a>
    </header>

    {{content}}
    {% if not meta %}
    <script src="/main.js" defer></script>
    {% endif %}
</body>

</html>